In [1]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
""" 
Answer: 
*  - expression 

'hello' - values 

-87.8  - values 

-  - expression

/ - expression

+ - expression

6  - values

"""

In [4]:
# 2. What is the difference between string and variable?

Answer:
String is a built-in data type and can have value of single character or sequence of characters assigned to a variable with in double or single quotes. 
Ex: a = “iNeuron” 
      C = ‘g’
      H = “123444”
Variable is basic data objects used to manipulate in a program. We can set the initial values to a variable and remain as a constant value.
X = 10
k = “string”
f = 21.342
pi = 3.14

In [5]:
# 3. Describe three different data types.

Answer: Lists – is used to store multiple data types in a single variable. Lists items are ordered, changeable (mutable) and allow duplicate values. List items are indexed.
Ex: list = [“Naveen”,1,3,5,6,7,[2,4,6,8],79.98,True]
Dictionaries – are used to store key: value pairs. Items can be ordered, changeable and do not allow duplicate values. Dictionary items are non-indexed.
Ex dict = { “class” : 8, “name”: “Praveen”, “marks”: 620, “percentage”: 80}
Sets – is used to store multiple data types. Sets are unordered, unchangeable (non-mutable) and does not allow duplicate values. Set items are non-indexed. 
Ex: set1 = {1,3,5,6}
       set2 = {“a”,”e”,”I”,”o”,”u”}

In [6]:
# 4. What is an expression made up of? What do all expressions do?

 Answer: Expression is an assignment statement and has value, which is the value of the left hand side after the assignment. It is a combination of data, operators, variables that evaluate into a single value. All expressions evaluates and displays the result.
c = (25 * 5) /  5
d = 9.8 * 2

In [7]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer: Spam = 10 is an assignment statement and has value of 10 assigned to variable name spam.
Statements are a set of instructions given to the python interpreter to execute. Statements can be combination of logical, decisional, and branching operations.

In [9]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

Answer: bacon variable in memory will still contain a value of 22. However, bacon + 1 will give 23 as a output

In [11]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [12]:
#8. Why is eggs a valid variable name while 100 is invalid?

Answer:  We can give eggs as variable name since it starting with a character while 100 cannot be variable since first letters of variable cannot be a numeric literal

In [13]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer:   type () function can be used to get integer, floating-point number or string data type
x = 10
type(x) or print(type(x))
a = 23.12
type (a) or print(type(a))
S = ‘kumar’
Type(S) or print (type(S))

In [14]:
#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Answer:   We can only concatenate string values with string and not the integer or digit value 99
We can correct by making 99 as string value as shown below

In [15]:
'I have eaten' +' '   '99'   + ' ''buritos'

'I have eaten 99 buritos'

In [16]:
# OR use below code

In [17]:
s1='I have eaten'
s2='99'
s3='buritos'
s4 = "%s %s %s"%(s1,s2,s3)
print(s4)

I have eaten 99 buritos